body {
	 font-size: 17px;
	 font-family: "Domine";
	 font-style: normal;
	 font-weight: 400;
     padding: 15px 30px 50px 30px;
}

ul {
    list-style-type: circle;
    text-align: left;
}


footer p.main, header p.main {
  text-align: left;
}
footer p.top {
  text-align: right;
  width: 50%;
  margin-left: 50%;
}

header p.secondary {
  text-align: right;
  position: relative;
  top: -30px;
  width: 50%;
  margin-left: 50%;
}
footer p, header p {
   margin: 0px;
   padding: 0px;
	 font-family: "Archivo Narrow";
	 font-weight: 700;
	 font-style: normal;
	 font-size: 18px;
}
footer a, header a {
  padding-right: 15px;
  text-decoration: none;
  color: #f00;
}

h1 {
	 line-height: 50px;
     font-family: "Pacifico";
	 font-size: 50px;
	 color: rgba(255, 0, 0, 1);
	 font-style: normal;
	 font-weight: 400;
     padding-bottom: 60px;
     padding-top: 20px;
}

li, p, dd, dt {
	 font-size: 17px;
	 line-height: 28px;
	 margin-bottom: 35px;
	 font-family: Domine;
	 font-weight: 400;
	 font-style: normal;
}

  dl {
    width: 400px;
    margin: auto;
  }
  dt {
    float: left;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  dt:after {
    content: ":";
  }
  dd {
    margin: 0;
    text-align: left;
    padding: 0;
    margin-left: 100px;
  }




.keep-together {
     white-space: nowrap;
}
article p strong {
     background: #F3F315;
     white-space: nowrap;
     /*
	 font-family: Domine;
	 font-weight: 700;
	 font-style: bold;
     */
}
article {
	 margin: 0px auto;
     width: 100%;
     max-width: 620px;
	 text-align: center;
}

p.headline, h2 {
	 font-family: "Archivo Narrow";
	 font-weight: 700;
	 font-style: normal;
	 font-size: 28px;
      line-height: 32px;
     padding-bottom: 28px;
}
p.headline {
  padding-bottom: 0px;
}

p b {
	 font-weight: 700;
}

div.action {
    width: 40px;
    height: 40px;
    /*-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; */
    position: fixed;
    bottom: 60px;
    right: 60px;
}
